.timeLog{display: none}
.timeLog.active{display: block;}


.group-wrap g text{
  letter-spacing: -0.05em;
  text-anchor: middle;
}
/* 버블 애니매에션 */
.group-wrap svg g{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  transition: all 0.6s;
  transform:scale(0);
  opacity: 1;
}
.group-wrap.active{
  position: relative; z-index: 10;
}
.group-wrap.active svg > g {
  transform:scale(1);
}
.group-wrap svg g circle{
  mix-blend-mode: multiply;
}
.group-wrap svg .n0{transition: 0.5s;transition-delay: 0s;}
.group-wrap svg .n1{transition: 0.4s;transition-delay: 0.1s;}
.group-wrap svg .n2{transition: 0.4s;transition-delay: 0.2s;}
.group-wrap svg .n3{transition: 0.4s;transition-delay: 0.25s;}
.group-wrap svg .n4{transition: 0.4s;transition-delay: 0.3s;}
.group-wrap svg .n5{transition: 0.4s;transition-delay: 0.2s;}
.group-wrap svg .n6{transition: 0.5s;transition-delay: 0s;}
.group-wrap svg .n7{transition: 0.5s;transition-delay: 0.1s;}
.group-wrap svg .n8{transition: 0.5s;transition-delay: 0s;}
.group-wrap svg .n9{transition: 0.5s;transition-delay: 0.2s;}


.group-wrap.remove svg .n0{transition: 1s;transition-delay: 0s;  }
.group-wrap.remove svg .n1{transition: 0.7s;transition-delay: 0.2s;}
.group-wrap.remove svg .n2{transition: 1.2s;transition-delay: 0s;}
.group-wrap.remove svg .n3{transition: 1s;transition-delay: 0.2s;}
.group-wrap.remove svg .n4{transition: 0.9s;transition-delay: 0.3s;}
.group-wrap.remove svg .n5{transition: 0.8s;transition-delay: 0s;}
.group-wrap.remove svg .n6{transition: 0.6s;transition-delay: 0.5s;}
.group-wrap.remove svg .n7{transition: 0.5;transition-delay: 0.3s;}
.group-wrap.remove svg .n8{transition: 0.5s;transition-delay: 0.4s;}
.group-wrap.remove svg .n9{transition: 0.4s;transition-delay: 0s;}


/* 버블 클릭시 */
.clicked .progressWrap,
.clicked .socialShare,
.clicked .timeTravel,
.clicked .timeLog,
.clicked .bubblesWrap #newsEdgeBubbles .item{display: none}
.clicked .bubblesWrap #newsEdgeBubbles .item.active{display: block;}
/* 클릭시 커지는 효과 */
.bubblesWrap #newsEdgeBubbles .item{transition: all 0.3s;}
.clicked .bubblesWrap #newsEdgeBubbles .item.active{transform: scale(0.8);}
/* 클릭시 텍스트 줄어듬*/
.bubblesWrap #newsEdgeBubbles .item.active .bubbleText{transition: all 0.3s;}
.clicked .bubblesWrap #newsEdgeBubbles .item.active .bubbleText{opacity: 0;transform: scale(0.6);}

/* 카드리스트 */
#todayListWrap.highScore, #todayListWrap.lowScore {display: block}
#todayListWrap.highScore .btnTodayClose, 
#todayListWrap.lowScore .btnTodayClose{opacity: 1}
/* 카드리스트 요소 */
/* 닫기 */




/* 버블 커짐 */
.group-wrap.active .itemList .active text{
  transform: scale(0.7);
  transition: all .1s;
}
.group-wrap.active .itemList .active circle{   transition: all .4s cubic-bezier(1, -0.34, 0.99, 0.74)}
.group-wrap.active .itemList .bubbleGroup-3.active circle{  transition: all .4s cubic-bezier(1, -0.3, 0.99, 0.74) }
.group-wrap.active .itemList .bubbleGroup-4.active circle{  transition: all .4s cubic-bezier(1, -0.25, 0.99, 0.74) }

.group-wrap.active .itemList .bubbleGroup-9.active circle,
.group-wrap.active .itemList .bubbleGroup-8.active circle,
.group-wrap.active .itemList .bubbleGroup-7.active circle,
.group-wrap.active .itemList .bubbleGroup-6.active circle,
.group-wrap.active .itemList .bubbleGroup-5.active circle{  transition: all .4s cubic-bezier(1, -0.2, 0.99, 0.74) }
.notice-error{
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,.8);
  color: #fff;
  width: 90%;
  padding: 5px;
  left: 5%;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
  box-sizing: border-box;
  border-radius: 5px;
  bottom: 19px;
  transition: all 1s;
  opacity: 0;
}
.notice-error.active{
  z-index: 1000;
  opacity: 1;
}